body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  .mapContainer {
    position: absolute;
    height: 100%;
    width: 70%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.container {
    display: flex;
    flex-direction: row;
    color: #1eff00;
}
.bus-table {
    position: absolute;
    width: 30%;
    left: 70%;
}
.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}
  label {
    display: inline-block;
    width: 100px;
  }
  
  input {
    margin-left: 20px;
    width: 160px;
  }
  