.mapContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 14px;
}
.table-container {
    position: absolute;
    z-index: 1 !important;
    overflow: auto;
    width: 30%;
    height: 92%;
    left: 70%;
    top: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 1 !important;
    background-color: #1a2637;
    opacity: 0.9;
    border-radius:5px;
}
@media (max-width: 640px) {
    .table-container {
        left: 75%;
        height:50%;
        width: 25%;
    }
}
@media (max-width: 520px) {
    .mapContainer {
        font-size: 10px;
    }
    .table-container {
        font-size: 10px;
        left: 75%;
        width: 25%;
    }
}
@media (max-width: 320px, max-height: 480px) {
    .mapContainer {
        font-size: 9px;
    }
    .table-container {
        font-size: 9px;
        margin-top: 10px;
        margin-bottom: 10px;
        left: 72%;
        width: 28%;
    }
}